<h3>App component</h3>

<!-- <h4>Config from InitService: {{ config | json }}</h4> -->

<div [ngSwitch]="role" [ngStyle]="{ backgroundColor: 'lightblue' }">
  <p *ngSwitchCase="'User'">Welcome User</p>
  <div *ngSwitchCase="'Admin'">
    <p [ngStyle]="{ color: 'darkgreen' }">Welcome Admin</p>
    <app-rooms [hotelName]="hotelName">
      <!-- passing ng-content -->
      <h4 data>Employee data:</h4>
      <app-employee></app-employee>
    </app-rooms>
  </div>
  <p *ngSwitchDefault [ngStyle]="{ color: 'red' }">Not logged in</p>
</div>

<!-- ng-template using example -->
<ng-template #countTemplate let-customerCount="count">
  <div>Approximately {{ customerCount }} customers on the page...</div>
</ng-template>
<ng-container *ngTemplateOutlet="countTemplate; context: ctx"> </ng-container>

<ng-template
  #t
  [ngTemplateOutlet]="t"
  [ngTemplateOutletContext]="{
    defaultScreen: data.screen,
    label: data.label
  }"
  let-defaultScreen="defaultScreen"
  let-label="label"
>
  <div>default screen: {{ defaultScreen }} - label: {{ label }}</div>
</ng-template>

<form class="form" [formGroup]="form">
  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input matInput formControlName="name" placeholder="Full name" />
  </mat-form-field>
  <app-reusable-form-group controlKey="emailGroup"></app-reusable-form-group>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</form>
