/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/scss/bootstrap.scss';

body {
  margin: 15px;
}

.even {
  background-color: steelblue;
  color: white;
}

.odd {
  background-color: tomato;
  color: white;
}