<h1>Welcome to the {{ hotelName }}</h1>
<p #description></p>

<app-header></app-header>
<app-header></app-header>

<p>Number of rooms:</p>
<div
  [ngStyle]="{
    color: rooms.availableRooms ? 'lightgreen' : 'red',
    fontSize: '20px',
    fontWeight: 'bold'
  }"
  [innerText]="numberOfRooms"
></div>

<p>Available rooms</p>
{{ rooms.availableRooms ?? "No rooms available" }}

@if (objectKeys(selectedRoom).length > 0) {
<div>{{ selectedRoom | json }}</div>
}

<div>
  <button (click)="addRoom()" [ngStyle]="{ marginBottom: '10px' }">
    Add Room
  </button>
  <button (click)="editRoom()">Edit Room</button>
  <button (click)="deleteRoom()">Delete Room</button>
</div>

<!-- ng-content using example -->
<ng-content select="[data]"></ng-content>
<ng-content select="app-employee"></ng-content>

<p>Contact {{ empName }}</p>

<app-rooms-list
  *ngIf="!hideRooms"
  [rooms]="roomList"
  [title]="title"
  (selectedRoom)="selectRoom($event)"
/>

<button (click)="toggle()">
  {{ !hideRooms ? "Hide rooms" : "Show rooms" }}
</button>

<ng-template #bookRoom></ng-template>
